body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("../../images/galaxy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#list_container {
  width: 30vw;
  height: 30vw;
  background-color: rgb(225, 232, 233);
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top: 20px black solid;
  border-bottom: 20px black solid;
}

#tasks {
  width: 20vw;
  height: 25vw;
  list-style: none;
  border: 0.5px grey solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background-color: whitesmoke;
  padding-left: 0;
  margin-top: 2.5vw;
}

#list_title {
  width: 19.5vw;
  height: 2vw;
  border-bottom: 0.3px rgb(226, 222, 222) solid;
  padding-top: 0.5vw;
  padding-left: 0.5vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 1.5vw;
  color: rgb(46, 46, 46);
}

li {
  width: 19.5vw;
  height: 2vw;
  border-bottom: 0.3px rgb(226, 222, 222) solid;
  padding-top: 0.5vw;
  padding-left: 0.5vw;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(46, 46, 46);
  font-size: 1.2vw;
  font-weight: 400;
}

#add_task {
  width: 19vw;
  height: 2vw;
  border: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: whitesmoke;
  font-style: italic;
  margin-top: -0.5vw;
  font-size: 1vw;
  color: rgb(167, 166, 166);
}
